.Home{
    border: 3px solid burlywood;
    /* display: flex; */
    min-height:80vh ;
}

.slide-item{
    border: 2px solid greenyellow;

}

.slide-image{
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}